In [1]:
import pandas as pd
df  = pd.read_csv("news.csv")
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [2]:
df.isna().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [3]:
df.describe()

         Unnamed: 0
count   6335.000000
mean    5280.415627
std     3038.503953
min        2.000000
25%     2674.500000
50%     5271.000000
75%     7901.000000
max    10557.000000

In [4]:
df = df.drop(columns=['Unnamed: 0','title'],errors = 'ignore')
df.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [5]:
df = df.drop(columns=['id'],errors = 'ignore')
df.head()

                                                text label
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2  U.S. Secretary of State John F. Kerry said Mon...  REAL
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4  It's primary day in New York and front-runners...  REAL

In [6]:
df['label1'] = df['label'].replace({'FAKE':0,'REAL':1})
df.head()

C:\Users\saiab\AppData\Local\Temp\ipykernel_14460\3369257813.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['label1'] = df['label'].replace({'FAKE':0,'REAL':1})

                                                text label  label1
0  Daniel Greenfield, a Shillman Journalism Fello...  FAKE       0
1  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE       0
2  U.S. Secretary of State John F. Kerry said Mon...  REAL       1
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE       0
4  It's primary day in New York and front-runners...  REAL       1

In [7]:
df = df.drop(columns=['label'],errors = 'ignore')
df.head()

                                                text  label1
0  Daniel Greenfield, a Shillman Journalism Fello...       0
1  Google Pinterest Digg Linkedin Reddit Stumbleu...       0
2  U.S. Secretary of State John F. Kerry said Mon...       1
3  — Kaydee King (@KaydeeKing) November 9, 2016 T...       0
4  It's primary day in New York and front-runners...       1

In [8]:
pip install nltk

Requirement already satisfied: nltk in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [10]:

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\saiab\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:

from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

# Remove special characters and lowercase everything using vectorized string operations
df['text'] = df['text'].str.replace(r'\W', ' ', regex=True).str.lower()

# Remove stopwords efficiently (Splitting into words and filtering)
df['text'] = df['text'].str.split().apply(lambda words: ' '.join([word for word in words if word not in stop_words]))

In [12]:
df.head()

                                                text  label1
0  daniel greenfield shillman journalism fellow f...       0
1  google pinterest digg linkedin reddit stumbleu...       0
2  u secretary state john f kerry said monday sto...       1
3  kaydee king kaydeeking november 9 2016 lesson ...       0
4  primary day new york front runners hillary cli...       1

In [14]:
df = df.drop_duplicates(subset=['text'])

In [15]:
# Convert text to numerical features
vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(df['text']).toarray()
y = df['label1']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Train Model
model = LogisticRegression()
model.fit(X_train, y_train)

# Evaluate Model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.92

In [17]:
import joblib

# Save model & vectorizer
joblib.dump(model, "fake_news_model.pkl")
joblib.dump(vectorizer, "vectorizer.pkl")

['vectorizer.pkl']

In [18]:
pip install flask

Collecting flask
  Obtaining dependency information for flask from https://files.pythonhosted.org/packages/af/47/93213ee66ef8fae3b93b3e29206f6b251e65c97bd91d8e1c5596ef15af0a/flask-3.1.0-py3-none-any.whl.metadata
  Downloading flask-3.1.0-py3-none-any.whl.metadata (2.7 kB)
Collecting Werkzeug>=3.1 (from flask)
  Obtaining dependency information for Werkzeug>=3.1 from https://files.pythonhosted.org/packages/52/24/ab44c871b0f07f491e5d2ad12c9bd7358e527510618cb1b803a88e986db1/werkzeug-3.1.3-py3-none-any.whl.metadata
  Downloading werkzeug-3.1.3-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from flask) (3.1.2)
Collecting itsdangerous>=2.2 (from flask)
  Obtaining dependency information for itsdangerous>=2.2 from https://files.pythonhosted.org/packages/04/96/92447566d16df59b2a776c0fb82dbc4d9e07cd95062562af01e408583fc4/itsdangerous-2.2.0-py3-none-any.whl.metadata
  Downloading itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: click>=8.1.3 in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.9 in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from flask) (1.9.0)
Requirement already satisfied: colorama in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\saiab\appdata\local\programs\python\python311\lib\site-packages (from Jinja2>=3.1.2->flask) (2.1.3)
Downloading flask-3.1.0-py3-none-any.whl (102 kB)
   ---------------------------------------- 0.0/103.0 kB ? eta -:--:--
   --- ------------------------------------ 10.2/103.0 kB ? eta -:--:--
   ----------- --------------------------- 30.7/103.0 kB 660.6 kB/s eta 0:00:01
   ------------------------------- ------- 81.9/103.0 kB 919.0 kB/s eta 0:00:01
   -------------------------------------- 103.0/103.0 kB 741.9 kB/s eta 0:00:00
Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Downloading werkzeug-3.1.3-py3-none-any.whl (224 kB)
   ---------------------------------------- 0.0/224.5 kB ? eta -:--:--
   ----- --------------------------------- 30.7/224.5 kB 660.6 kB/s eta 0:00:01
   ---------- ---------------------------- 61.4/224.5 kB 656.4 kB/s eta 0:00:01
   ---------------- ---------------------- 92.2/224.5 kB 655.4 kB/s eta 0:00:01
   -------------------- ----------------- 122.9/224.5 kB 722.1 kB/s eta 0:00:01
   ------------------------- ------------ 153.6/224.5 kB 706.2 kB/s eta 0:00:01
   ----------------------------- -------- 174.1/224.5 kB 751.6 kB/s eta 0:00:01
   -------------------------------------- 224.5/224.5 kB 721.4 kB/s eta 0:00:00
Installing collected packages: Werkzeug, itsdangerous, flask
Successfully installed Werkzeug-3.1.3 flask-3.1.0 itsdangerous-2.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
from flask import Flask, request, jsonify
import joblib

app = Flask(__name__)  # Corrected __name__

# Load model & vectorizer
model = joblib.load("fake_news_model.pkl")
vectorizer = joblib.load("vectorizer.pkl")

@app.route('/')
def home():
    return "Fake News Detection API is running!"

@app.route('/predict', methods=['POST'])
def predict():
    try:
        data = request.json
        text = data.get('text', '')  # Use .get() to avoid KeyError
        
        if not text:
            return jsonify({"error": "No text provided"}), 400
        
        # Convert text to features
        transformed_text = vectorizer.transform([text])
        
        # Predict
        prediction = model.predict(transformed_text)[0]
        return jsonify({"prediction": prediction})
    
    except Exception as e:
        return jsonify({"error": str(e)}), 500

if __name__ == '__main__':  # Corrected __name__
    app.run(debug=True, port=5001)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5001
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1